@model IEnumerable<smsSurvey.dbInterface.Device>

@using smsSurvery.Surveryer.GlobalResources
@using smsSurvey.dbInterface;
@{
   ViewBag.Title = "Index";
}
<h2>Devices</h2>
<div class="alert alert-success hide"></div>
<div class="alert alert-danger hide"></div>
<table class="table table-striped table-bordered table-hover">
   <tr>
      <th>Id</th>
      <th>Friendly name</th>
      <th>Device Id</th>
      <th>Company name</th>
      <th>Survey</th>
      <th></th>      
   </tr>
   @foreach (var item in Model)
   {
      <tr>
         <td>
            @Html.DisplayFor(modelItem => item.Id)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.FriendlyName)
         </td>
         <td>
            @{
               var shortDeviceId = item.DeviceId;
               if (item.DeviceId.Length > 10)
               {
                  shortDeviceId = item.DeviceId.Substring(item.DeviceId.Length - 10, 10);
               }
            }
            
            @Html.DisplayFor(modelItem => shortDeviceId)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.CompaniesName)
         </td>
         <td>
            @{
               ICollection<SurveyTemplate> surveys = (ICollection<SurveyTemplate>) ViewBag.Surveys;
            }
            <select class="survey-link-select" deviceId="@item.DeviceId">
                   @{
                     foreach (var survey in surveys) {                  
                        var surveyPath = (string)ViewBag.SurveyPath + "/" + survey.Id;
                        if (surveyPath.Equals(item.SurveyLink)) {                  
                           <option value="@surveyPath" selected>@survey.Description</option>
                        } else {
                           <option value="@surveyPath">@survey.Description</option>
                        }                    
                     }     
                  }                    
            </select>            
         </td>         
         <td>
            <a href="#" class="refresh-survey" deviceId="@item.DeviceId">Refresh survey</a> |
            <a href="#" class="release-device" deviceId="@item.DeviceId">Release device</a>
         </td>         
      </tr>
   }
</table>
<input type="hidden" id="alert-set-survey-success" value="@Global.DevicesSetSurveySuccess" />
<input type="hidden" id="alert-command-failed" value="@Global.DevicesCommandFailed" />
<input type="hidden" id="alert-refresh-survey-success" value="@Global.DevicesRefreshSurvey" />
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/devices")
@Styles.Render("~/Content/devicesCSS")