@model smsSurvey.dbInterface.SurveyPlan

<fieldset class="surveyPlan">
   <legend>SurveyPlan</legend>

    @if (Model != null)
    {
         @Html.HiddenFor(model => model.Id)
         @Html.HiddenFor(model => model.Provider)
    }
   <table class="txteditor table table-striped table-bordered table-hover">
      <tr>
         <td class="labelCol" >
            @Html.DisplayNameFor(model => model.Description)
         </td>
         <td>
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
         </td>
      </tr>
      <tr>
         <td class="labelCol">
            @Html.DisplayNameFor(model => model.ThankYouMessage)
         </td>
         <td>
            @Html.EditorFor(model => model.ThankYouMessage)
            @Html.ValidationMessageFor(model => model.ThankYouMessage)
         </td>
      </tr>
      <tr>
         <td class="labelCol">
            @Html.DisplayNameFor(model => model.DateStarted)
         </td>
         <td>
            @Html.HiddenFor(model => model.DateStarted)
            @Html.DisplayFor(model => model.DateStarted)
            @Html.ValidationMessageFor(model => model.DateStarted)
         </td>
      </tr>
      <tr>
         <td class="labelCol">
            @Html.DisplayNameFor(model => model.DateEnded)
         </td>
         <td>
            @Html.HiddenFor(model => model.DateEnded)
            @Html.DisplayFor(model => model.DateEnded)
            @Html.ValidationMessageFor(model => model.DateEnded)
         </td>
      </tr>
      <tr>
         <td class="labelCol">
            @Html.DisplayNameFor(model => model.IsRunning)
         </td>
         <td>
            @Html.CheckBoxFor(model => model.IsRunning,new { disabled = "disabled", @readonly = "readonly" })
         </td>
      </tr>
   </table>
   @if (ViewBag.Action == "Create")
   {
      <input class="btn btn-primary" type="submit" value="Create" />
      }
   else
   {
      <input class="btn btn-primary" type="submit" value="Save" />
   }    
</fieldset>
