@model smsSurvey.dbInterface.SurveyPlan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset class="surveyPlan">
    <legend>SurveyPlan</legend>
    <table>
       <tr>
          <td class="labelCol">
               @Html.DisplayNameFor(model => model.Description)
          </td>
          <td>
              @Html.DisplayFor(model => model.Description)
          </td>
       </tr>
       <tr>
          <td class="labelCol">
               @Html.DisplayNameFor(model => model.ThankYouMessage)
          </td>
          <td>
              @Html.DisplayFor(model => model.ThankYouMessage)
          </td>
       </tr>
       <tr>
          <td class="labelCol">
               @Html.DisplayNameFor(model => model.DateStarted)
          </td>
          <td>
              @Html.DisplayFor(model => model.DateStarted)
          </td>
       </tr>
       <tr>
          <td class="labelCol">
               @Html.DisplayNameFor(model => model.DateEnded)
          </td>
          <td>
              @Html.DisplayFor(model => model.DateEnded)
          </td>
       </tr>
       <tr>
          <td class="labelCol">
               @Html.DisplayNameFor(model => model.IsRunning)
          </td>
          <td>
              @Html.DisplayFor(model => model.IsRunning)
          </td>
       </tr>
    </table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<h2> Questions</h2>
@if (Model.QuestionSet.Count != 0)
{
<table class="questionsTable">
    <tr>
        <th>
           Text
        </th>
        <th>
            Order
        </th>
        <th>
            Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.QuestionSet) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "Question", new RouteValueDictionary { {"id",item.Id} }, null) 
        </td>
    </tr>
}
</table>   
}
else {
   <p>
      No questions defined so far. How about adding a question to this survey?
      Edit the survey to continue.
   </p>
}

