@using smsSurvery.Surveryer.Utilities
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left logo">
                   @*<img class="site-title" src="~/Content/images/logo.png" />*@
                    @*<p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>*@
                    @Url.ImageLink(Url.Content("~/Content/images/logo.png"),"home","Index","Home", "SMSSurvey",null,"logo")
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                   @if (User.Identity.IsAuthenticated)
                   {
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Manual survey", "ManualSurvey", "Home")</li>

                            <li>@Html.ActionLink("Surveys", "Index", "SurveyPlan")</li>                                                       
                           <li>@Html.ActionLink("Responses", "Index", "SurveyResult")</li>
                        </ul>
                    </nav>  
                   }
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - TxtFeedback</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
