@using smsSurvery.Surveryer.GlobalResources

<script id="mobileSurveyTemplate" type="text/template">
   <div class="questionsArea">
   </div>
</script>
<script id="question-mobile-template" type="text/template">
   <div class="question">
      <h4 class="questionTitle"><%= QuestionNumber %>. <%= Text %> </h4>
      <div class="answerArea">
         <%
            if (Type == SurveyUtilities.Utilities.CONSTANTS_QUESTION.TYPE_YES_NO) { %>
                  <input type="radio" id="y-<%= QuestionNumber %>" name="yes-no-answer<%= Id %>" value="1">
         <label for="y-<%= QuestionNumber %>">@Global.MobileSurveyYesLabel</label>
         <input type="radio" id="n-<%= QuestionNumber %>" name="yes-no-answer<%= Id %>" value="2">
         <label for="n-<%= QuestionNumber %>">@Global.MobileSurveyNoLabel</label>
         <% 
            } else if (Type == SurveyUtilities.Utilities.CONSTANTS_QUESTION.TYPE_FREE_TEXT) {
         %>
                  <textarea class="answer comment"></textarea>
         <%
            } else if (Type == SurveyUtilities.Utilities.CONSTANTS_QUESTION.TYPE_RATING) {
         %>
         
         <%
         } else if (Type == SurveyUtilities.Utilities.CONSTANTS_QUESTION.TYPE_SELECT_MANY_FROM_MANY) { 
            _.each(Answers, function(answer, index) {  %>                     
               <input type="checkbox" id="m-a-<%= answer.AnswerIdentifier %>" class="css-checkbox" value="<%= answer.AnswerIdentifier %>" />
         <label for="m-a-<%= answer.AnswerIdentifier %>" name="multiple-answers-label" class="css-label"><%=answer.AnswerLabel %></label>
         <% });
         } else if (Type == SurveyUtilities.Utilities.CONSTANTS_QUESTION.TYPE_SELECT_ONE_FROM_MANY) {
         %>     
            <select class="answer list" name="answer">
               <option value="noValue">@Global.MobileSurveySelectOneFromManyLabel</option>
               <% _.each(Answers, function(value, key, list) { %>
                  <option value="<%= value.AnswerIdentifier %>"><%= value.AnswerLabel %></option>
               <% }); %> 
            </select>
         <%
         } else if (Type == SurveyUtilities.Utilities.CONSTANTS_QUESTION.TYPE_NUMERIC) {
            var numericValues = ValidAnswers.split(";");
            var numericLabels = ValidAnswersDetails.split(";");
            if (numericValues.length > 0) {
         %>
         <div class="scale-legend-wrapper">
            <div class="scale-legend">
               <div class="low-scale"><< <%= numericLabels[0] %></div>
               <div class="high-scale"><%= numericLabels[numericLabels.length - 1] %> >></div>
               <div class="clear"></div>
            </div>
         </div>
         <div class="scale-wrapper">
            <%
            for (var i=0; i < numericValues.length; ++i) {
         %>                        
            <div class="numeric-entry">
               <label for="radio<%= numericValues[i] %><%= Id %>" class="numeric-value-label">
                  <span class="numeric-value"><%= numericValues[i] %></span>
               </label>
               <input class="numeric-radio" id="radio<%= numericValues[i] %><%= Id %>" type="radio" value="<%= numericValues[i] %>" name="numeric-scale-answer<%= Id %>" />
            </div>
            <%
            } 
         }%>
            <div class="clear"></div>
         </div>
         <fieldset class='additionalInfo invisibleByDefault'>
            <legend class='stars-additional-info'>@Global.MobileSurveyRatingAddionalInfoLabel</legend>
            <textarea class='comment'></textarea>
         </fieldset>
         <%   
     } 
      %>      
      </div>
   </div>
</script>

<script type="text/template" id="star-template">
   <% if (Active) { %>
            <a href="#" class="starImg starActive" src="/Content/images/stars.png" />
   <% } else { %>
            <a href="#" class="starImg" src="/Content/images/stars.png" />
   <% } %>
</script>

<script type="text/template" id="star-bar-template">
   <div class="starsArea">
   </div>
   <fieldset class='additionalInfo invisibleByDefault'>
      <legend class='stars-additional-info'>@Global.MobileSurveyRatingAddionalInfoLabel</legend>
      <textarea class='comment'></textarea>
   </fieldset>
   <input type='hidden' class='answer' value='noValue' />
</script>

<script type="text/template" id="thankyoupage-template">
   <header>
      <div class="headerContainer">
         <img id="pageIcon" src="/Content/images/small-icon.png" />
         <h3 id="pageTitle">@ViewBag.SurveyTitle</h3>
      </div>
   </header>
   <section id="thankYouMessage" class="surveyMessage">
      <p>
         @ViewBag.ThankYouMessage
      </p>
      <div style="display: none" class="alert fade in alert-error" id="noTags-error">
         <div class="personal-info-validation">
         </div>
      </div>
   </section>
   @if ((int)@ViewBag.IsFeedback != 0)
   {
      <div id="userInfo">
         <fieldset id="surveyUserInfo">
            <label class="followup">
               @* If you like to be informed about the steps taken by us to improve on your feedback please leave us some personal details *@
               @* If you would like to receive the results of this survey please provide us some personal details *@
               @Global.MobileSurveyLeavePersonalInfoLabel
            </label>
            <div>
               <label for="name">@Global.MobileSurveyPersonalInfoNameLabel</label>
               <input id="name" type="text" /><br />
            </div>
            <div>
               <label for="surname">@Global.MobileSurveyPersonalInfoSurnameLabel</label>
               <input id="surname" type="text" /><br />
            </div>
            <div>
               <label for="email">@Global.MobileSurveyPersonalInfoEmailLabel</label>
               <input id="email" type="email" /><br />
            </div>
            <div>
               <label for="telephone">@Global.MobileSurveyPersonalInfoPhoneLabel</label>
               <input id="telephone" type="tel" />
            </div>
         </fieldset>
         <button id="sendPersonalDetailsBtn" class="enabled">@Global.MobileSurveyPersonalInfoSubmitBtnLabel</button>
         <input id="personalInfoSubmitted" type='hidden' value='@Global.MobileSurveyPersonalInfoSubmittedLabel' />
      </div>
   }
</script>


<input type="hidden" value="@ViewBag.Id" id="surveyTemplateId"/>
<input type="hidden" value="@ViewBag.IsFeedback" id="isFeedback"/>
<section id="survey">
   <section id="questionsPage" class="page">
      <header>
         <div class="headerContainer">
            <img id="pageIcon" src="/Content/images/small-icon.png" />
            <h3 id="pageTitle">@ViewBag.SurveyTitle</h3>
         </div>
      </header>
      <div class="clear" />
      <section id="introMessage" class="surveyMessage">
         <p>
            @ViewBag.IntroMessage
         </p>
      </section>
      <section id="questions">
      </section>
      <div id="doneBtnWrapper">
         <button id="doneBtn"></button>
      </div>
      <footer>
         <span>@Global.MobileSurveyFooterCaption
            <a href="http://www.txtfeedback.net">TxtFeedback
            </a>
         </span>
      </footer>
      <input type="hidden" value="@Global.MobileSurveySubmitButtonCaption" id="doneBtnTitle" />
      <input type="hidden" value="@ViewBag.Location" id="location" />
   </section>
   <section id="thankYouPage" class="page" style="display: none">
   </section>
   <div class="clear" />
</section>

