@model smsSurvey.dbInterface.Question
@using smsSurvery.Surveryer.Extensions
@{
    ViewBag.Title = "Details";
}
<fieldset>
    <legend>Question @Model.Order</legend>
    <div class="display-field">
       @Html.DisplayFor(model => model.Text)
       @* we specify the question in case (will be needed later to get the report data) *@
       @Html.HiddenFor(model => model.Id, new { qid = Model.Id, qtype=Model.Type})
    </div>    
</fieldset>

<div id="@String.Format("tableChart_div{0}", Model.Id)"></div>
<div id="@String.Format("pieChart_div{0}", Model.Id)"></div> 
<div id="@String.Format("textCloudSection{0}", Model.Id)"></div> 
