@model smsSurvey.dbInterface.Question
@using smsSurvery.Surveryer.Extensions
@{
    ViewBag.Title = "Details";
}
<div class="questionArea">
<fieldset>
    <legend>Question @Model.Order</legend>
    <div class="display-field">
       @Html.DisplayFor(model => model.Text)
       @* we specify the question in case (will be needed later to get the report data) *@
       @Html.HiddenFor(model => model.Id, new { qid = Model.Id, qtype=Model.Type})
    </div>    
  
</fieldset>

 <div   id="@String.Format("graphsContainer{0}", Model.Id)" class="graphsContainer">   
   <div id="@String.Format("tableChart_div{0}", Model.Id)"></div>
   <div id="@String.Format("pieChart_div{0}", Model.Id)"></div>
   <div id="@String.Format("textCloudSection{0}", Model.Id)"></div>

   <div id="@String.Format("loadingIndicator{0}", Model.Id)" style="display:none" class="loadingIndicatorArea">
      <div class="loadingIndicatorContainer">
         <img src="~/Content/images/ajax-loader_vs1.gif" class="loadingIndicatorIcon" />
      </div>
      <div class="overlay"></div>
   </div>
  
</div>
 @if (Model.Type == smsSurvery.Surveryer.Controllers.ReportsController.cRatingsTypeQuestion)
   {
    <div class="additionalInfoContainer">
      <label class="additionalInfoLabel">Provided qualifications</label>
      <div id="@String.Format("textCloudSectionAdditionalInfo{0}", Model.Id)"></div>      
    </div>
   }
</div>