@model smsSurvey.dbInterface.SurveyPlan

@{Html.RenderPartial("ReportFilterArea");}

<div class="clear:both"></div>
<fieldset>
    <legend> Overview: @Model.Description </legend>

   <div class="graphsContainer" id="@String.Format("graphsOverviewContainer{0}", Model.Id)">
      <div id="@String.Format("tableOverviewChart_div{0}", Model.Id)"></div>
      <div id="@String.Format("pieOverviewChart_div{0}", Model.Id)"></div>

      <div id="@String.Format("loadingOverviewIndicator{0}", Model.Id)" style="display:none" class="loadingIndicatorArea">
         <div class="loadingIndicatorContainer">
            <img src="~/Content/images/ajax-loader_vs1.gif" class="loadingIndicatorIcon" />
         </div>
         <div class="overlay"></div>
      </div>
   </div>
    <div style="display: none" id="surveyId">@Model.Id</div>
</fieldset>


