@model IEnumerable<smsSurvey.dbInterface.SurveyResult>

<h2>Survey results</h2>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateRan)
        </th>
        <th>
            Customer phone number
        </th>
        <th>
           Survey description
        </th>
       <th>
          @Html.DisplayNameFor(model => model.Terminated)
       </th>
        <th>
          @Html.DisplayNameFor(model => model.PercentageComplete)
       </th>
        <th></th>
    </tr>
@foreach (var item in Model) 
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateRan)
        </td>
        <td>           
           @Html.ActionLink(item.Customer.PhoneNumber, "Details", "Customer", new { id = item.Customer.PhoneNumber }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurveyTemplate.Description)
        </td>
       <td>
          @Html.DisplayFor(modelItem => item.Terminated)
       </td>
       
       <td @( item.PercentageComplete == 1 ? "class=centopercent" : "")>       
          @Html.DisplayFor(modelItem => item.PercentageComplete)
       </td>
        <td>            
            @Html.ActionLink("Details", "Details", "SurveyResult", new { id=item.Id }, null) |
            @Html.ActionLink("Delete", "Delete", "SurveyResult", new { id=item.Id }, null)
        </td>
    </tr>
}
</table>
