@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MobileSurvey</title>   
    @Styles.Render("~/bundles/MobileSurveyCss")
   
<script id="mobileSurveyTemplate" type="text/template">   
   <div class="questionsArea">

   </div>
</script>

<script id="question-mobile-template" type="text/template">
        <div class="question">
            <h4 class="questionTitle"> <%= QuestionNumber %>. <%= Text %> </h4>            
            <div class="answerArea">
               <%
               if (Type == SurveyUtilities.Utilities.CONSTANTS_QUESTION.TYPE_YES_NO) { %>
                   <input type="radio" name="yes-no-answer" value="Yes" /> Yes <br/>
                   <input type="radio" name="yes-no-answer" value="No" /> No  
               <% 
               } else if (Type == SurveyUtilities.Utilities.CONSTANTS_QUESTION.TYPE_FREE_TEXT) {
               %>
                   <textarea class="answer comment"></textarea>
               <%
               } else if (Type == SurveyUtilities.Utilities.CONSTANTS_QUESTION.TYPE_RATING) {
               %>
                
               <%
               } else if (Type == SurveyUtilities.Utilities.CONSTANTS_QUESTION.TYPE_SELECT_ONE_FROM_MANY) { 
                  _.each(Answers, function(answer, index) {  %>
                     <input type="checkbox" name="multiple-answers" value="<%= answer.AnswerLabel %>" /> <%=answer.AnswerLabel %> <br/>
               <% });
               } %>           
            </div>
        </div>
</script>

<script type="text/template" id="star-template">
        <% if (Active) { %>
            <a href="#"><img class="starImg" src="/Content/images/star50.png" /></a>
            <% } else { %>
            <a href="#"><img class="starImg" src="/Content/images/star50_inactive.png" /></a>
            <% } %>
</script>

<script type="text/template" id="star-bar-template">
   <fieldset class='additionalInfo invisibleByDefault'>
      <legend class='stars-additional-info'>Why?</legend><textarea  class='comment'></textarea>
   </fieldset>
  <input type='hidden' class='answer' value='noValue' />
</script>

   
</head>


<body>
     <input type="hidden" value="@ViewBag.Id" id="surveyPlanId"/>
     <section id="survey">
        <section id="questionsPage" class="page">
            <header>
                <div class="headerContainer">
                  <img id="pageIcon" src="/Content/images/small-icon.png" />
                  <h3 id="pageTitle">@ViewBag.SurveyTitle</h3>
                </div>                       
            </header>
           <div class="clear" />
            <section id="questions">
            </section>
            <div id="doneBtnWrapper">
                <button id="doneBtn"></button>
            </div>
            <footer>
                <span>Powered by 
                  <a href="http://www.txtfeedback.net">TxtFeedback
                  </a>
                </span>
            </footer>
            <input type="hidden" value="Submit" id="doneBtnTitle" />
        </section>
        <section id="thankYouPage" class="page invisible">
            <div id="thankYouMessage"><strong>Thank you!</strong></div>
            <div id="userInfo">
                <fieldset>
                    <label for="email">
                        Enter your e-mail address to receive the voucher:
                    </label>
                    <input id="email" type="email" /><br />
                    <button id="sendBtn" class="enabled small" />Send</button>
                </fieldset>
            </div>
        </section>
        <div class="clear" />
    </section>
</body>
    @Scripts.Render("~/bundles/jquery")
   @Scripts.Render("~/bundles/mobilesurvey")  
   <script type="text/javascript">
      $(function () {
         //initialize mobile survey given the id of the survey plan
         var surveyId = $("#surveyPlanId").val();
         var surveyModel = new SurveyBuilder.SurveyModel({
            Id: surveyId,
            Description: "",
            ThankYouMessage: "",
            StartDate: "15/6/2013",
            EndDate: "17/7/2013",
            IsRunning: false
         });         
         surveyModel.fetch({
            data: {
               Id: surveyId
            },
            success: function (model, response, options) {
               var surveyModel = new SurveyBuilder.QuestionSetModel({ jsonQuestions: model.get("QuestionSet") });
               //DA sure they are ordered
               var surveyView = new SurveyPreview.SurveyMobileView({
                  el: $("#survey"),
                  model: surveyModel
               });
               surveyView.render();
            },
            error: function (model, response, options) {
               alert(response)
            }
         });
      });
   </script>
</html>