@using smsSurvery.Surveryer.GlobalResources
@{
    Layout = null;
    ViewBag.Title = "Survey already submitted";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Global.MobileSurveySubmittedPageTitle</title>
   @Styles.Render("~/bundles/MobileSurveyCss")
</head>
<body>    
    <header>
       <div class="headerContainer">
                <img id="pageIcon" class="logo" src="@ViewBag.LogoLocation" />
                <h3 id="pageTitle">@Global.MobileSurveySubmittedTitle</h3>
       </div>        
    </header>
    <div class="clear" />
     <section id="survey">                
        <p>@Global.MobileSurveySubmittedMessage</p>            
     </section>
     <div class="clear" />
        <footer>
                <span>@Global.MobileSurveyFooterCaption
                  <a href="http://www.txtfeedback.net">TxtFeedback
                  </a>
                </span>
        </footer>            
</body>
</html>
