@model smsSurvery.Surveryer.Models.LoginModel

<h2>Log in</h2>
<p>
    Please enter your email and password to access the application
</p>


@Html.ValidationSummary(true, "There were some errors. Please fix them and try again")

@using (Html.BeginForm()) {
   @Html.AntiForgeryToken()
    <div>
        <fieldset>
            <legend>Account information</legend>

             <div class="clearfix">
                @Html.LabelFor(m => m.UserName) 
                <div class="input">
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>

            <div class="clearfix">
                @Html.LabelFor(m => m.Password)
                <div class="input">
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>

             <div class="clearfix">
                 <div class="input">
                     @Html.CheckBoxFor(m => m.RememberMe)
                     <span>Remember me</span>
                </div>
            </div>

    	    <div class="actions">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
        </fieldset>
    </div>
}
</div>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
