@model smsSurvery.Surveryer.Controllers.ManualSurvey

@{
   ViewBag.Title = "Send survey manually";
}

<h2>Start manual survey</h2>

<h5>Add tags that you want to associate to your survey</h5>
<div id="tagContainer">
   <input name="filterTag" id="filterTag" type="text" />
</div>

<div id="run-action">
   <form id="run-action-form" action="" method="post" target="progress-iframe">
      <button type="button" id="run" class="btn btn-primary">Run</button>
   </form>
</div>

<div class="alert alert-danger hide"></div>
<div class="alert alert-success hide"></div>

<div id="progress-section" class="hide">
   <div class="progress">
     <div class="progress-bar progress-bar-success" style="width: 35%">
       <span class="sr-only sr-only-success">35% Complete (success)</span>
     </div>  
     <div class="progress-bar progress-bar-danger" style="width: 10%">
       <span class="sr-only sr-only-danger">10% Complete (danger)</span>
     </div>
   </div>
   <div id="expand-log-btn-wrapper">
      <button type="button" class="btn btn-danger" id="expand-log-btn">Expand failed log</button>
   </div>
   <div id="progress-table-wrapper" class="hide">
      <table id="progress-log">
         <thead>
            <tr>
               <th>Client phone number</th>
               <th>Delivery status</th>
             </tr>
         </thead>
      </table>
   </div>
</div>

<div id="action-1">
   <h3><strong>1. Choose your action</strong></h3>
   <ul class="nav nav-tabs" id="action-tabs">
      <li><a href="#sms-tab" class="sms-link" data-toggle="tab">Quick SMS</a></li>
      <li><a href="#survey-tab" class="survey-link" data-toggle="tab">Survey</a></li>
   </ul>

   <div class="tab-content tab-choose-action">
      <div class="tab-pane active" id="sms-tab">
         <div id="quickSms">
            <textarea id="sms-message-textarea" placeholder="Insert SMS text here..."></textarea>
            <div id="facts-sms-wrapper">
               <table class="facts-sms">
                  <tr>
               <td><strong>Nr of characters</strong></td><td id="noOfCharacters"></td>
                 </tr>
                  <tr>
               <td><strong>Nr of sms</strong></td><td id="noOfSms"></td>
                 </tr>
               </table>
            </div>
         </div>
      </div>
      <div class="tab-pane" id="survey-tab">
         <table>
            <thead>
               <th>Survey to run</th>
               <th>Choose the survey language</th>
               <th>Survey type</th>
            </thead>
            <tr>
               <td>
                  @Html.DropDownList("ID", "Choose a survey")
               </td>
               <td>
                  @Html.DropDownList("Language", new SelectList(new List<SelectListItem>() { new SelectListItem() { Text = "English", Value = "en-US" }, new SelectListItem() { Text = "Romanian", Value = "ro-RO" } }, "Value", "Text"))
               </td>
               <td>
                  @Html.DropDownList("SurveyType", new SelectList(new List<SelectListItem>() { new SelectListItem() { Text = "Mobile survey", Value = "mobile" }, new SelectListItem() { Text = "Full SMS survey", Value = "sms" } }, "Value", "Text"))
               </td>
            </tr>
         </table>
         <div><span id="runSurveyResult"></span></div>
      </div>
   </div>
</div>

<div id="action-2">
   <h3><strong>2. Add contacts</strong></h3>
   <div id="add-contacts">
      @using (Html.BeginForm("ManualSurvey", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
      {
         @Html.AntiForgeryToken()
         @Html.Hidden("selectedSurveyId", (int)@ViewBag.DefaultSelectionForSurveyId);
         <p>Import bulk</p>
         <input type="hidden" id="quick-sms-text-input" name="quickSmsText" />
         <input class="btn " type="file" id="cvsFile" name="cvsFile" />
         <input class="btn btn-info" type="submit" name="btnImport" value="Import CVS" />
      }

      <p>or</p>
      <label>Add customer phone number (numbers must start with the country prefix)</label>
      <input type="text" id="newphonenr" placeholder="Ex: 40758526698" />
      <button id="add" class="btn btn-info">Add</button>
   </div>
   <div id="table-scroll">
      <h4 class="contact-list">Contact list</h4>
      <table class="table table-striped" id="phonenumbers">               
      </table>
      <div id="phonenumbers-pagination">

      </div>
   </div>
   <div class="clear"></div>
</div>
<div if="userList"></div>



@section css{
   @Styles.Render("~/Content/custom")
   @Styles.Render("~/Content/manual-survey")
}
@section Scripts {
   @Scripts.Render("~/bundles/referencescripts")
   <script>

      
      /* MB Alert blinking - used also in managedDevices, style in devices.css & manual-survey
         TODO: Condense
         */
      var noOfBlinks = 3;
      var blinkTimer;
      var cBlinkInterval = 500;
      
      /* Paging, define variables */
      var cNumberOfEntriesPerPage = 10;
      var currentPage = 0;
      var displayPageFunctionWrapper;
      var phoneNumbersArray = @Html.Raw(Json.Encode(ViewBag.PhoneNumbers))              

         
      function startBlinking() {
         noOfBlinks = 3;
         blinkTimer = setInterval(blinking, cBlinkInterval);
      }

      var quickSmsTextPersistent = @Html.Raw(Json.Encode(ViewBag.QuickSmsText))
      function blinking() {
         if (noOfBlinks > 0) {
            if ($(".alert").hasClass("alert-visible")) {
               $(".alert").removeClass("alert-visible");
               $(".alert").addClass("alert-invisible");
            } else {
               $(".alert").addClass("alert-visible");
               $(".alert").removeClass("alert-invisible");
               noOfBlinks = noOfBlinks - 1;
            }
         } else {
            clearInterval(blinkTimer);
         }
      }
      /* End alert blinking */

      /* Display alerts */
      var showDangerAlert = function (dangerText) {
         $(".alert").hide();
         $(".alert-danger").html(dangerText);
         $(".alert-danger").show();
         startBlinking();
      }

      var showSuccessAlert = function (successText) {
         $(".alert").hide();
         $(".alert-success").html(successText);
         $(".alert-success").show();
         startBlinking();
      }

      /* Enable disable button */
      var disableRunButton = function () {
         $("#run").attr("disabled", "disabled");
         $("#run").html("Running...");
      }

      var enableRunButton = function () {
         $("#run").removeAttr("disabled");
         $("#run").html("Run");
      }

      function isDoubleByte(str) {
         for (var i = 0, n = str.length; i < n; i++) {
            if (str.charCodeAt(i) > 255) { return true; }
         }
         return false;
      }

      function computeNoOfSms(smsText) {
         var nrOfSms = smsText.length / 160;
         if (isDoubleByte(smsText)) {
            nrOfSms = smsText.length / 70;
         }
         return Math.ceil(nrOfSms);
      }

      // initialize
      function resetSmsTextArea() {
         $("#sms-message-textarea").val("");
         $("#noOfCharacters").html("0");
         $("#noOfSms").html("0 sms");
      }

      function persistSmsText() {
         quickSmsTextPersistent = quickSmsTextPersistent == null ? "" : quickSmsTextPersistent;
         $("#sms-message-textarea").val(quickSmsTextPersistent);
         $("#noOfCharacters").html(quickSmsTextPersistent.length);
         $("#noOfSms").html(computeNoOfSms(quickSmsTextPersistent) + " sms");
      }

      function generateHiddenElement(id, name, value) {
         return "<input type='hidden' id='" + id + "' name='" + name + "' value='" + value + "'/>";
      }

      function BeginProcess() {
         // Create an iframe.
         var iframe = document.createElement("iframe");
         iframe.name = "progress-iframe";

         // Make the iframe invisible.
         iframe.style.display = "none";

         // Add the iframe to the DOM.  The process
         //  will begin execution at this point.
         document.body.appendChild(iframe);
      }

      function UpdateProgress(PercentSuccess, PercentFailed, ToNumber, MessageStatus) {
         PercentSuccess = Math.round(PercentSuccess * 100) / 100;
         PercentFailed = Math.round(PercentFailed * 100) / 100;
         $("#progress-section").removeClass("hide");
         $("#progress-section").show();
         var textSuccess = "Success: " + PercentSuccess + "%";
         var textFailed = "Failed: " + PercentFailed + "%";
         $(".progress-bar-success").css("width", PercentSuccess + "%");
         $(".progress-bar-danger").css("width", PercentFailed + "%");

         if (PercentSuccess > 20) {
            $(".sr-only-success").html(textSuccess);
         } else {
            $(".sr-only-success").html("");
         }
         if (PercentFailed > 20) {
            $(".sr-only-danger").html(textFailed);
         } else {
            $(".sr-only-danger").html("");
         }

         if (!MessageStatus) {
            var messageStatusAsString = MessageStatus ? "success" : "failed";
            var newRow = "<tr><td>" + ToNumber + "</td><td class='deliveryFailed'>" + messageStatusAsString + "</td></tr>";
            $("#progress-log").append(newRow);
         }
      }

      function UpdateFinish() {
         enableRunButton();
         resetSmsTextArea();
         showSuccessAlert("Operation completed");
      }

      $(function () {
         $("#expand-log-btn").click(function (event) {
            event.preventDefault();
            if ($("#progress-table-wrapper").hasClass("hide")) {
               $("#progress-table-wrapper").removeClass("hide");
               $("#progress-table-wrapper").show();
            } else {
               $("#progress-table-wrapper").addClass("hide");
               $("#progress-table-wrapper").hide();
            }
            
         });

         var self = this;
         BeginProcess();
         var sendSms = true;
         /* Tabs */
         $("#action-tabs .sms-link").click(function (e) {
            e.preventDefault();
            $(this).tab("show");
            sendSms = true;
         });
         $("#action-tabs .survey-link").click(function (e) {
            e.preventDefault();
            $(this).tab("show");
            sendSms = false;
         });
         $('#action-tabs a:first').tab('show');

         function displayPage(pageNo) {
            $('#phonenumbers').empty();
            $("#phonenumbers-pagination").empty();
            for (var i = pageNo * cNumberOfEntriesPerPage; i < pageNo * cNumberOfEntriesPerPage + cNumberOfEntriesPerPage; ++i) {
               if (phoneNumbersArray[i] != undefined) {
                  var elem = '<tr type="phnr"> <td type="nr">' + phoneNumbersArray[i] + '</td><td><button class="remove btn btn-danger btn-small"> Remove</button></td></tr>';
                  $('#phonenumbers').append(elem);
               }
            }
            var numberOfPages = Math.ceil(phoneNumbersArray.length / cNumberOfEntriesPerPage);

            if ((currentPage - 4) > 0) {
               var pageLink = '<a href="#" class="page-link" pageNo="0">First</a>';
               $("#phonenumbers-pagination").append(pageLink);
            }
            for (var i = (currentPage - 4) > 0 ?  (currentPage - 4) : 0; i < (((currentPage + 4) > numberOfPages) ? numberOfPages : (currentPage + 4)); i++) {
               if (i == currentPage) {
                  var pageLink = '<a href="#" class="page-link page-link-active" pageNo="' + i + '">' + (i + 1) + '</a>';
                  $("#phonenumbers-pagination").append(pageLink);
               } else {
                  var pageLink = '<a href="#" class="page-link" pageNo="' + i + '">' + (i + 1) + '</a>';
                  $("#phonenumbers-pagination").append(pageLink);
               }
            }
            if ((currentPage + 4) < phoneNumbersArray.length) {
               var pageLink = '<a href="#" class="page-link" pageNo="' + (numberOfPages - 1) + '">Last</a>';
               $("#phonenumbers-pagination").append(pageLink);
            }
            //displayPageFunctionWrapper = this;

            $(".page-link").off();
            $(".page-link").on("click", function (event) {
               event.preventDefault();
               var pageNumber = $(this).attr("pageNo");
               currentPage = parseInt(pageNumber);
               displayPage(pageNumber);
            });
         }

         if (phoneNumbersArray != null) {
            if (phoneNumbersArray.length > cNumberOfEntriesPerPage) {
               displayPage(currentPage);
            }
         }

         $('#add').click(function () {
            var newtelno = $("#newphonenr").val();
            if (newtelno !== "") {
               
               //test the phone number to be added
               var regex = /^\d+$/;
               if (regex.test(newtelno)) {
                  if (phoneNumbersArray != null) {
                     phoneNumbersArray.splice(currentPage*cNumberOfEntriesPerPage, 0, newtelno);
                  } else {
                     phoneNumbersArray = [];
                     phoneNumbersArray.push(newtelno);
                  }

                  
                  displayPage(currentPage);
                  

                  /*
                  var elem = '<tr type="phnr"> <td type="nr">' + newtelno + '</td><td><button class="remove btn btn-danger btn-small"> Remove</button></td></tr>';
                  $('#phonenumbers tr:last').after(elem);*/
               } else {
                  showDangerAlert("only digits are allowed");
               }

               $("#newphonenr").val("");
            }
         });
         //DA when the remove button is clicked, remove the set phone number
         $('table').on('click', '.remove', function (event) {
            var trow = $(event.target).parents('tr')[0];
            var phoneNumberToBeDeleted = $(trow).children("td")[0].innerHTML;
            var k = -1;
            for (var i = currentPage * cNumberOfEntriesPerPage ;
               i < currentPage * cNumberOfEntriesPerPage + cNumberOfEntriesPerPage; ++i) {
               if (phoneNumbersArray[i] == phoneNumberToBeDeleted) {
                  k = i;
                  break;
               }
            }
            phoneNumbersArray.splice(k, 1);
            displayPage(currentPage);
                                    
         });

         $('#ID').change(function () {
            var newVal = $(this).val();
            $('#selectedSurveyId').val(newVal);
         });

         function isDoubleByte(str) {
            for (var i = 0, n = str.length; i < n; i++) {
               if (str.charCodeAt(i) > 255) { return true; }
            }
            return false;
         }

         persistSmsText();
         enableRunButton();

         $("#sms-message-textarea").on("keyup", function (event) {
            var smsText = $("#sms-message-textarea").val();
            $("#noOfCharacters").html(smsText.length);
            var noOfSms = computeNoOfSms(smsText);
            var isUnicode = isDoubleByte(smsText);
            $("#quick-sms-text-input").val(smsText);
            $("#noOfSms").html(noOfSms + " sms" + (isUnicode ? "(unicode)" : ""));
         });

         $('#run').click(function () {
            if (sendSms) {
               var smsText = $("#sms-message-textarea").val();
               if (smsText == "") {
                  showDangerAlert("Please enter the text of the sms");
                  return;
               }
               if (phoneNumbersArray== null || phoneNumbersArray.length === 0) {
                  //display message that we should have at least 1 number
                  showDangerAlert("Please add at least 1 phone number");
                  return;
               }
               
               disableRunButton();
               $(".alert").hide();
               $("#progress-section").hide();
                              
               $("#run-action-form").get(0).setAttribute("action", "/DisplayProgress/Index.aspx");
               $("#run-action-form").remove("input[type='hidden']");
               $("#run-action-form").append(generateHiddenElement("phone-numbers-input", "customerNumbers", phoneNumbersArray.join(",")));
               $("#run-action-form").append(generateHiddenElement("sms-text-input", "smsText", smsText));               
               $("#run-action-form").submit();
              
            } else {
               //we should have a survey selected
               var selSurveyId = $('#ID').find(":selected").attr('value');
               if (selSurveyId === "") {
                  //display message that you should select a survey
                  showDangerAlert("Please select a survey to run");
                  return;
               }
               //we should have at least 1 phone number
               if (phoneNumbersArray == null || phoneNumbersArray.length === 0) {
                  //display message that we should have at least 1 number
                  showDangerAlert("Please add at least 1 phone number");
                  return;
               }
               //we should have a surveyLanguage
               var surveyLanguage = $('#Language').find(":selected").attr('value');
               if (surveyLanguage === "") {
                  //display message that you should select a survey
                  showDangerAlert("Please select a survey language");
                  return;
               }               
               var tags = new Array();
               var delimiter = ',';
               tags = $("#filterTag").val().split(delimiter);
               //if there are no tags the split will return [""] and this will be sent to the server
               //we guard against this
               if ("" === tags[0]) {
                  tags = [];
               }
               var surveyType = $('#SurveyType').find(":selected").attr('value');
               var sendMobile = surveyType === "sms" ? false : true;

               disableRunButton();
               $(".alert").hide();
               $("#progress-section").hide();

               $("#run-action-form").get(0).setAttribute("action", "/DisplayProgress/SendSurvey.aspx");
               $("#run-action-form").remove("input[type='hidden']");
               $("#run-action-form").append(generateHiddenElement("survey-id-input", "surveyid", selSurveyId));
               $("#run-action-form").append(generateHiddenElement("customer-numbers-input", "customerNumbersSurvey", phoneNumbersArray.join(",")));
               $("#run-action-form").append(generateHiddenElement("send-mobile-input", "sendMobile", sendMobile));
               $("#run-action-form").append(generateHiddenElement("tags-input", "tags", tags.join(",")));
               $("#run-action-form").append(generateHiddenElement("survey-language-input", "surveyLanguage", surveyLanguage));
               $("#run-action-form").submit();               
            }
         });

         $("#filterTag").tagsInput({
            'height': '22px',
            'width': 'auto',
            'autocomplete_url': "/Home/FindMatchingTags",
            'onAddTag': function (tagValue) {
            },
            'onRemoveTag': function (tagValue) {
            },
            'defaultText': 'add tag here',
            'placeholder': 'add tag here',
            'interactive': true,
            'placeholderColor': '#666666',
            'minChars': 3,
            'maxChars': 10,
            'autocomplete': {
               autoFocus: true,
               minLength: 1
            }
         });

         $('#myTab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
         })       
      });
   </script>
}