@model smsSurvery.Surveryer.Controllers.ManualSurvey

@{
    ViewBag.Title = "ManualSurvey";
}

<h2>Start manual survey</h2>

<h5>Add tags that you want to associate to your survey</h5>
<div id="tagContainer">
       <input name="filterTag" id="filterTag" type="text"/>
 </div>
<div id="left">
   <h3>Add users</h3>
  @using (Html.BeginForm("ManualSurvey", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
  {
      @Html.AntiForgeryToken()
      @Html.Hidden("selectedSurveyId", (int)  @ViewBag.DefaultSelectionForSurveyId);
      <input class="btn " type="file" id="cvsFile" name="cvsFile" />
      <input class="btn btn-info"  type="submit" name="btnImport" value="Import CVS" />
  }
   
   <p>or</p>
   <label>Add customer phone number (numbers must start with the country prefix)</label> 
   <input type="text" id="newphonenr"/>
   <button id="add" class="btn btn-info"> Add</button> 
   <div id="table-scroll">
    <table id="phonenumbers">
       <thead>
          <th>
             Phone number
          </th>
          <th>
             Actions
          </th>
       </thead>
       @if (ViewBag.PhoneNumbers != null) {
       foreach (var phNr in ViewBag.PhoneNumbers)
       {
          <tr type="phnr">
              <td type="nr"> @phNr </td>
             <td><button class="remove btn btn-danger btn-small"> Remove</button></td>

          </tr>
       }
       }
    </table>
    </div>
</div>
<div if="userList"></div>
<div id="right" >
    <h3>Select Survey</h3>
   <fieldset>      
      <div>
         @Html.LabelFor(model => model.SelectedSurveyID)
      </div>
      <div>
         @Html.DropDownList("ID", "Choose a survey")      
      </div>
      <p>
          <button id="run" class="btn btn-primary"> Run</button> 
      </p>
   </fieldset>   
   <div><span id="runSurveyResult"></span></div>
</div>

@section css{
    @Styles.Render("~/Content/custom")
   }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
   @Scripts.Render("~/bundles/referencescripts")
<script>
   $(function () {
      var self = this;

      $('#add').click(function () {
         var newtelno = $("#newphonenr").val();
         if (newtelno !== "") {
            //test the phone number to be added
            var regex = /^\d+$/;
            if (regex.test(newtelno)) {               
               var elem = '<tr type="phnr"> <td type="nr">' + newtelno + '</td><td><button class="remove btn btn-danger btn-small"> Remove</button></td></tr>';
               $('#phonenumbers tr:last').after(elem);
            } else {
               alert("only digits are allowed");
            }

            $("#newphonenr").val("");
         }
      });
      //DA when the remove button is clicked, remove the set phone number
      $('table').on('click', '.remove', function (event) {
         var trow = $(event.target).parents('tr')[0];
         trow.remove();         
      });

      $('#ID').change(function () {
         var newVal = $(this).val();
         $('#selectedSurveyId').val(newVal);
      });

      $('#run').click(function () {
         //we should have a survey selected
         var selSurveyId = $('#ID').find(":selected").attr('value');
         if (selSurveyId === "") {
            //display message that you should select a survey
            alert("Please select a survey to run");
            return;
         }
         //we should have at least 1 phone number
         var phonenumbers = $('tr[type=phnr] td[type=nr]');
         if (phonenumbers.length === 0) {            
            //display message that we should have at least 1 number
            alert("Please add at least 1 phone number");
            return;
         }
         var numbers = new Array();
         $.each(phonenumbers, function (index, value) {
            numbers.push(value.textContent);
         });
         var tags = new Array();
         var delimiter = ',';
         tags = $("#filterTag").val().split(delimiter);
         //if there are no tags the split will return [""] and this will be sent to the server
         //we guard against this
         if ("" === tags[0]) {
            tags = [];
         }
         $.ajax({
            data: {
               surveyid: selSurveyId,
               customerNumbers: numbers,
               tags: tags
            },
            url: "/Home/RunSurveyForNumbers",
            traditional: true,
            async: true,
            cache: false,
            success: function (data) {
               $("#runSurveyResult").html(data);
            }
         });
      });
      
      $("#filterTag").tagsInput({
         'height': '22px',
         'width': 'auto',
         'autocomplete_url': "/Home/FindMatchingTags",
         'onAddTag': function (tagValue) {                       
         },
         'onRemoveTag': function (tagValue) {            
         },
         'defaultText': 'add tag here',
         'placeholder': 'add tag here',
         'interactive': true,
         'placeholderColor': '#666666',
         'minChars': 3,
         'maxChars': 10,
         'autocomplete': {            
            autoFocus: true,
            minLength: 3
         }
      });
   });
</script>
 }