@{
    ViewBag.Title = "SMS Survey";
}
<script type="text/javascript" src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart","table"]}]}'></script>
<h2>Currently running survey</h2>
@if (ViewBag.CurrentSurvey != null)
{
   <text>
    @{Html.RenderPartial("SurveyResultOverview", (smsSurvey.dbInterface.SurveyPlan) ViewBag.CurrentSurvey);}
   </text>   
   <text>
    @{Html.RenderPartial("SurveyReport", (IEnumerable<smsSurvey.dbInterface.Question>) ViewBag.SurveyQuestions);} 
   </text>
}
else
{
   <p>
      No running surveys. 
      @Html.ActionLink("Start one of the existing surveys or create a new survey", "Index", "SurveyPlan",null,null)
   </p>      
}   
 @section css{
    @Styles.Render("~/Content/custom")
   }

@section Scripts {
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/referencescripts")
@Scripts.Render("~/bundles/custom")
}
 