@model smsSurvey.dbInterface.QuestionAlertSet

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>QuestionAlertSet</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Operator)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Operator)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TriggerAnswer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TriggerAnswer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuestionSet.Text)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionSet.Text)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
