@model smsSurvey.dbInterface.QuestionAlertSet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>QuestionAlertSet</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Operator)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Operator)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TriggerAnswer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TriggerAnswer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuestionSet.Text)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionSet.Text)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
