@model smsSurvey.dbInterface.Customer

@{
    ViewBag.Title = "Edit customer";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Customer", FormMethod.Post, new {@class ="form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

   <fieldset>
       <legend>Customer</legend>
       
      <div class="control-group">
      @Html.LabelFor(model => model.Name, new { @class = "control-label" })   
       <div class="display-field controls ">
          @Html.EditorFor(model => model.Name)
          @Html.ValidationMessageFor(model => model.Name)
       </div>
      </div>
   
      <div class="control-group">
      @Html.LabelFor(model => model.Surname, new { @class = "control-label" })
      <div class="display-field controls">
          @Html.EditorFor(model => model.Surname)
          @Html.ValidationMessageFor(model => model.Surname)
       </div>
      </div>

       <div class="control-group">
            @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label" })
       <div class="display-field controls">
           @Html.HiddenFor(model => model.PhoneNumber)
           @Html.DisplayFor(model => model.PhoneNumber)
       </div>
       </div>

      <div class="control-group">
       @Html.LabelFor(model => model.Email, new { @class = "control-label" })
      <div class="display-field controls">
           @Html.EditorFor(model => model.Email)
           @Html.ValidationMessageFor(model => model.Email)
       </div>
      </div>
      <p>
            <input type="submit" value="Save" class="btn btn-primary"/>
        </p>
   </fieldset>
}

<div>
    @Html.ActionLink("Back to customers list", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
