@model smsSurvey.dbInterface.SurveyResult

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SurveyResult</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateRan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateRan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Customer.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SurveyPlan.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SurveyPlan.Description)
    </div>
</fieldset>

<h2>Answers</h2>
<table>
@foreach (var item in Model.Result) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        
    </tr>
}
</table>
<p>

    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
