@model smsSurvey.dbInterface.SurveyResult

@{
    ViewBag.Title = "Survey result details";
}

<h2>Details</h2>

<fieldset>
    <legend>SurveyResult</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateRan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateRan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Customer.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SurveyPlan.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SurveyPlan.Description)
    </div>
</fieldset>

<h2>Answers</h2>
<table class="table table-striped table-bordered table-hover">
   <tr>
        <th>
            Question
        </th>
        <th>
           Answer
        </th>
        <th>
            Additional information
        </th>        
    </tr>
@foreach (var item in Model.Result) {   
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question.Text)
        </td>  
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.AdditionalInfo)
        </td>
    </tr>
}
</table>
<p>    
    @Html.ActionLink("Back to survey result list", "Index")
</p>
