@model smsSurvey.dbInterface.SurveyResult

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SurveyResult</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.DateRan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateRan)
            @Html.ValidationMessageFor(model => model.DateRan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerPhoneNumber, "Customer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CustomerPhoneNumber", String.Empty)
            @Html.ValidationMessageFor(model => model.CustomerPhoneNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SurveyPlanId, "SurveyPlan")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SurveyPlanId", String.Empty)
            @Html.ValidationMessageFor(model => model.SurveyPlanId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
