@model IEnumerable<smsSurvey.dbInterface.SurveyTemplate>

@{
    ViewBag.Title = "Survey list";
}

@using MvcPaging;
@using smsSurvey.dbInterface;

@{
   IPagedList<SurveyTemplate> pagingDetails = ViewBag.pagingDetails;
   RouteValueDictionary r = new RouteValueDictionary();
   r.Add("to", Request["to"]);
   r.Add("from", Request["from"]);
   r.Add("text", Request["text"]);
}

<h2>Survey templates</h2>

<p>
   @* Create new survey part *@
    <a href="/SurveyTemplate/Create" class="btn btn-primary delete-btn">Create survey template</a>
</p>
@{Html.RenderPartial("SearchBoxItems", "SurveyTemplate");}
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThankYouMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStarted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRunning)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThankYouMessage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStarted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRunning)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
           @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |            
           @if(item.IsRunning) {
            @Html.ActionLink("Stop", "MakeActive", new { id=item.Id })           
           } else {
              @Html.ActionLink("Make active", "MakeActive", new { id=item.Id }) 
           } |
            @Html.ActionLink("Report", "Report","SurveyTemplate", new { id=item.Id }, null) |
            @Html.ActionLink("Comparison report", "GetTagComparisonReport","Reports", new { surveyId=item.Id }, null) |
            @Html.ActionLink("Responses", "Responses","SurveyTemplate", new { id=item.Id }, null)
        </td>
    </tr>
}

</table>
@Html.Pager(pagingDetails.PageSize, pagingDetails.PageNumber, pagingDetails.TotalItemCount, r)

@section css {
   @Styles.Render("~/bundles/SurveyResult")
}