@model IEnumerable<smsSurvey.dbInterface.SurveyTemplate>

@{
    ViewBag.Title = "Survey list";
}

@using MvcPaging;
@using smsSurvey.dbInterface;

@{
   IPagedList<SurveyTemplate> pagingDetails = ViewBag.pagingDetails;
   RouteValueDictionary r = new RouteValueDictionary();
   r.Add("to", Request["to"]);
   r.Add("from", Request["from"]);
   r.Add("text", Request["text"]);
}

<h2>Survey templates</h2>

<p>
   @* Create new survey part *@
    <a href="/SurveyTemplate/Create" class="btn btn-primary delete-btn">Create survey template</a>
</p>
@{Html.RenderPartial("SearchBoxItems", "SurveyTemplate");}
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntroMessage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntroMessage)
        </td>       
        <td>
            @Html.ActionLink("View & Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
                                 
            @Html.ActionLink("Reports", "Report","SurveyTemplate", new { id=item.Id }, null) |
            @Html.ActionLink("Comparison reports", "GetTagComparisonReport","Reports", new { surveyId=item.Id }, null) |
           @Html.ActionLink("Per location reports", "PerLocationReport","SurveyTemplate", new { id=item.Id }, null) |
            @Html.ActionLink("Responses", "Responses","SurveyTemplate", new { id=item.Id }, null)
        </td>
    </tr>
}

</table>
@Html.Pager(pagingDetails.PageSize, pagingDetails.PageNumber, pagingDetails.TotalItemCount, r)

@section css {
   @Styles.Render("~/bundles/SurveyResult")
}