@model smsSurvey.dbInterface.Question
@using smsSurvery.Surveryer.Extensions
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Question</legend>

    <div class="display-label">
         @Html.LabelFor(model => model.Text)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Order)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
       <span id="qtype" stype="display: none">@Model.Type</span>
    </div>

   <div class="editor-label">
      @Html.LabelFor(model => model.ValidAnswers)
   </div>
   <div class="editor-field">
      @Html.DisplayFor(model => model.ValidAnswers)      
   </div>

   <div class="editor-label">
      @Html.LabelFor(model => model.ValidAnswersDetails)
   </div>
   <div class="editor-field">
      @Html.DisplayFor(model => model.ValidAnswersDetails)      
   </div>
</fieldset>
<p>       
   @Html.ActionLink("Back to survey", "Details", "SurveyPlan", new {id = Model.SurveyPlan_Id }, null)
</p>