@model smsSurvey.dbInterface.Question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<script type="text/javascript" src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart","table"]}]}'></script>
 @Scripts.Render("~/bundles/jquery")
<script>   
   $(document).ready(function () {
      var stuff = $.ajax({
         data: { surveyId: 3 },
         url: "/Reports/GetSurveyResults",
         dataType: "json",
         async: false,
         success: function (jsonData) {
            var options = {
               backgroundColor: '#F5F8FA',
               sliceVisibilityThreshold : 0
            };
            var chart = new google.visualization.PieChart(document.getElementById('comboChart_div'));
            data = new google.visualization.DataTable(jsonData);
            chart.draw(data, options);
         }
      })
   });
   
</script>
<fieldset>
    <legend>Question</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Text)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Order)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div id="comboChart_div"></div> 
