@model smsSurvey.dbInterface.Question
@using smsSurvery.Surveryer.Extensions
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Question</legend>

     @Html.HiddenFor(model => model.SurveyPlan_Id)
    <table class="txteditor table table-striped table-bordered table-hover">
      <tr>
         <td class="labelCol" >
            @Html.DisplayNameFor(model => model.Text)
         </td>
         <td>
            @Html.DisplayFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
         </td>
      </tr>
      <tr>
         <td class="labelCol">
            @Html.DisplayNameFor(model => model.Order)
         </td>
         <td>
            @Html.DisplayFor(model => model.Order)
            @Html.ValidationMessageFor(model => model.Order)
         </td>
      </tr>
      <tr>
         <td class="labelCol">
            @Html.DisplayNameFor(model => model.Type)
         </td>
         <td>
             @Html.DisplayFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type)
         </td>
      </tr>
      <tr>
         <td class="labelCol">
            @Html.DisplayNameFor(model => model.ValidAnswers)
         </td>
         <td>
            @Html.DisplayFor(model => model.ValidAnswers)
            @Html.ValidationMessageFor(model => model.ValidAnswers)
         </td>
      </tr>
      <tr>
         <td class="labelCol">
            @Html.DisplayNameFor(model => model.ValidAnswersDetails)
         </td>
         <td>
            @Html.DisplayFor(model => model.ValidAnswersDetails)
            @Html.ValidationMessageFor(model => model.ValidAnswersDetails)
         </td>
      </tr>
   </table>
</fieldset>
<p>       
   @Html.ActionLink("Back to survey", "Details", "SurveyTemplate", new {id = Model.SurveyPlan_Id }, null)
</p>