@model smsSurvey.dbInterface.SurveyPlan
@{
    ViewBag.Title = "GetTagComparisonReport";
}

<h2>Location comparison report</h2>
 <div style="display:none" class="alert fade in alert-error" id="noTags-error" >
    <button type="button" class="close">×</button>
    Select at least 2 locations to have a relevant comparison report
   </div>

@{Html.RenderPartial("ReportFilterArea");}

@foreach (var q in Model.QuestionSet)
{
   if (q.Type == "Rating")
   {
    <fieldset>
    <legend>Question @q.Order</legend>
    <div class="display-field">
       @Html.DisplayFor(model=> q.Text)
       @* we specify the question in case (will be needed later to get the report data) *@
       @Html.HiddenFor(model => model.Id, new { qid = q.Id, qtype=q.Type})
    </div>    
   </fieldset>
   <div class="graphsContainer" id="@String.Format("graphsContainer{0}", q.Id)">
      <div id="@String.Format("barChart_div{0}", q.Id)" qid="@q.Id" qtype="@q.Type" class="chart"></div>         
      <div id="@String.Format("loadingIndicator{0}", q.Id)" style="display:none" class="loadingIndicatorArea">
         <div class="loadingIndicatorContainer">
         <img src="~/Content/images/ajax-loader_vs1.gif"  class="loadingIndicatorIcon" />
         </div>
         <div class="overlay"></div>
      </div>
      <label>No data. Generate report first</label>
   </div>
   }
   
}

 @section css{
    @Styles.Render("~/Content/custom")
   }

@section Scripts {
 <script type="text/javascript" src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart","table"]}]}'></script>

@Scripts.Render("~/bundles/referencescripts")
@Scripts.Render("~/bundles/comparisonReports")

}
 