@model IEnumerable<smsSurvery.Surveryer.Models.FreeTextAnswer>

@{
    ViewBag.Title = "GetMessagesWithStem";
}

<h2>Messages containing "@ViewBag.Stem"</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
         Customer
        </th>
       <th>
          Survey results
       </th>
       <th>
         Date ran
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>           
           @*@Html.DisplayFor(modelItem => item.Customer.PhoneNumber)*@
           @Html.ActionLink(item.Customer.PhoneNumber, "Details", "Customer", new { id = item.Customer.PhoneNumber }, null)
        </td>
       <td>
          @Html.ActionLink("Show entire survey results", "Details", "SurveyResult", new { id = item.SurveyResult.Id}, null)
       </td>
       <td>
          @Html.DisplayFor(modelItem => item.SurveyResult.DateRan)           
        </td>
    </tr>
}

</table>
