@model IEnumerable<smsSurvery.Surveryer.Models.FreeTextAnswer>

@{
   ViewBag.Title = "Messages with keyword";
}

<h2>@ViewBag.Headline</h2>

<table class="table table-striped table-bordered table-hover">
    <tr>
       @if (ViewBag.BasedOnAdditionalInfo)
       {
         <th>
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </th>   
       }
       else {          
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
       }
        <th>
         Customer
       </th>
       <th>
          Survey results
       </th>
       <th>
         Date ran
       </th>
    </tr>

@foreach (var item in Model)
{
   <tr>
      @if (ViewBag.BasedOnAdditionalInfo)
      {
         <td>
            @Html.DisplayFor(modelItem => item.AdditionalInfo)
         </td>  
       }
      else
      {          
         <td>
            @Html.DisplayFor(modelItem => item.Text)
         </td>
       }
      <td>
         @Html.ActionLink(item.Customer.PhoneNumber, "Details", "Customer", new { id = item.Customer.PhoneNumber }, null)
      </td>
      <td>
         @Html.ActionLink("Show entire survey results", "Details", "SurveyResult", new { id = item.SurveyResult.Id }, null)
      </td>
      <td>
         @Html.DisplayFor(modelItem => item.SurveyResult.DateRan)
      </td>
   </tr>
}

</table>
